@import "../../styles/standard";

.product__panel {
  background-color: $surface;
  border-radius: 0.55rem;
  padding: 0.5rem 0 0.75rem 0;

  .product__panel__container {
    .product__panel__title {
      @include set-text($fontSerifRegular, $onProductPanelTitle-xl, $onSurface);
      font-weight: bold;
      margin-left: 1rem;
      margin-bottom: 0;
    }

    .hr {
      height: 1px;
      margin: 0.65rem 0;
      color: $hrNormal;
    }

    .product__list__container {
      padding: 0 0.5rem;
    }
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl) {
  .product__panel {
    .product__panel__container {
      .product__panel__title {
        font-size: $onProductPanelTitle-lg;
      }
    }
  }
}

@media only screen and (min-width: $md) and (max-width: $lg) {
  .product__panel {
    .product__panel__container {
      .product__panel__title {
        font-size: $onProductPanelTitle-md;
      }
    }
  }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
  .product__panel {
    .product__panel__container {
      .product__panel__title {
        font-size: $onProductPanelTitle-sm;
      }

      .product__list__container {
        padding: 0 0.75rem;
      }
    }
  }
}
