@import "../../styles/standard";

.nav__item {
  border-radius: 0.25rem;
  color: $onPrimary !important;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__item__text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.nav__item__action {
  @extend .nav__item;
  font-size: $onNavItemActionText-xl;
  font-family: $fontSansSerifRegular;
  // background-color: $primaryVariantDark;
  padding: 0.075rem 1.25rem;
  transition: all 0.4s ease-in-out;

  &:hover {
    background-color: $onPrimaryVariantDarkHover;
  }

  &.active {
    background-color: $primaryVariantDark;
  }

  .nav__item__icon {
    font-size: $onNavItemActionIcon-xl;
    margin-right: 1rem;
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl) {
  .nav__item__action {
    padding: 0.1rem 0.85rem;
    font-size: $onNavItemActionText-lg;

    .nav__item__icon {
      margin-right: 0.85rem;
      font-size: $onNavItemActionIcon-lg;
    }
  }
}

@media only screen and (min-width: $md) and (max-width: $lg) {
  .nav__item__action {
    padding: 0.25rem 0.35rem;
    font-size: $onNavItemActionText-md;

    .nav__item__icon {
      margin-right: 0;
      font-size: $onNavItemActionIcon-md;
    }

    .nav__item__text {
      display: none;
    }
  }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
  .nav__item__action {
    padding: 0.25rem 0.35rem;
    // border-radius: 1rem;

    .nav__item__icon {
      margin-right: 0;
      font-size: $onNavItemActionIcon-sm;
    }

    .nav__item__text {
      display: none;
    }
  }
}
