@import "../../styles/standard";

.nav__item {
  border-radius: 0.5rem;
  color: $onPrimary !important;
  text-decoration: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav__item__text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
}

.nav__item__page {
  position: relative;
  @extend .nav__item;
  font-family: $fontSansSerifLight;
  font-size: $onNavItemPageText;
  transition: all 0.4s ease-in-out;
  padding: 0.045rem 1rem;

  &:hover {
    background-color: $primaryVariantLight;
  }

  &.active {
    background-color: $primaryVariantLight;
  }

  .nav__item__badge {
    position: absolute;
    top: -2.5px;
    right: -2.5px;
    background-color: $warning;
    @include set-text($fontSansSerifRegular, $onBadge-xl, $onPrimary);
    padding: 0.05rem 0.25rem;
    text-align: center;
    border-radius: 5rem;
  }

  .nav__item__icon {
    font-size: $onNavItemPageIcon-xl;
    margin-right: 0.75rem;
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl) {
  .nav__item__page {
    padding: 0.25rem 0.35rem;

    .nav__item__icon {
      font-size: $onNavItemPageIcon-lg;
      margin-right: 0;
    }

    .nav__item__badge {
      top: -2.25px;
      right: -2.5px;

      font-size: $onBadge-lg;
      padding: 0.05rem 0.225rem;
    }

    .nav__item__text {
      display: none;
    }
  }
}

@media only screen and (min-width: $md) and (max-width: $lg) {
  .nav__item__page {
    padding: 0.2rem 0.3rem;

    .nav__item__icon {
      font-size: $onNavItemPageIcon-md;
      margin-right: 0;
    }

    .nav__item__badge {
      top: -2.25px;
      right: -2.5px;
      font-size: $onBadge-md;
      padding: 0.05rem 0.205rem;
    }

    .nav__item__text {
      display: none;
    }
  }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
  .nav__item__page {
    padding: 0.25rem 0.35rem;

    .nav__item__icon {
      font-size: $onNavItemPageIcon-sm;
      margin-right: 0;
    }

    .nav__item__badge {
      top: -2px;
      right: -2px;

      font-size: $onBadge-sm;
      padding: 0.05rem 0.2rem;
    }

    .nav__item__text {
      display: none;
    }
  }
}
