@import "../../styles/standard";

.edit {
  width: 100%;
  height: 100%;
  background-color: $background;
  padding: 0.85rem 0 1rem;

  .edit__container {
    width: $w-xl;
    margin: auto;

    .edit__form {
      width: 100%;
    }
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl) {
  .edit {
    padding: 0.8rem 0 0.9rem;

    .edit__container {
      width: $w-lg;
    }
  }
}

@media only screen and (min-width: $md) and (max-width: $lg) {
  .edit {
    padding: 0.75rem 0 0.85rem;

    .edit__container {
      width: $w-md;
    }
  }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
  .edit {
    padding: 0.55rem 0 0.75rem;

    .edit__container {
      width: $w-sm;
    }
  }
}
