$primary: #fa6400;
$primaryVariantDark: #c54409;
$primaryVariantLight: #fc934c;
$primaryOpacity: #fa6400e3;
$primaryVariantDarkOpacity: #cf470880;

$background: #f4f4f4;
$surface: #ffffff;

$onPrimary: #ffffff;

$variantDark: #a3a3a3;
$onVariantDark: #525151;
$variantLight: #fafafa;
$variant: #e7e6e6;
$onSurface: #000000;
$onVariant: #757575;
$onVariantLight: #b8b8b8;

$bookmark: #395185;

$onPrimaryVariantDarkHover: #c23b05;
$onPrimaryVariantDark: #d13f05;

$borderLight: #f4f4f4;
$borderNormal: #dbdada;

$hrNormal: #aaaaaa;
$hrLight: #dbdbdb;

$onBrandText: #fa6400;
$onBrandDarkText: #dd4d18;

$onBackground: #000000;

$facebook: #395185;
$linkin: #0077b5;
$twitter: #5b68c0;

$onFooterInfor: #313131;

$warning: #b00020;

$active: #28a745;
