$primary: #fa6400;
$primaryVariantDark: #dd4d18;
$primaryVariantLight: #fc934c;

$background: #f4f4f4;
$surface: #ffffff;

$onPrimary: #ffffff;
$onSurface: #000000;
$onVariant: #757575;
$onVariantLight: #aaaaaa;

$bookmark: #395185;

$onPrimaryVariantDarkHover: #c54213;

$borderLight: #f4f4f4;
$borderNormal: #dbdada;

$hrNormal: #aaaaaa;
