$primary: #fa6400;
$primaryVariantDark: #dd4d18;
$primaryVariantLight: #fc934c;

$background: #f4f4f4;
$surface: #ffffff;

$onPrimary: #ffffff;

$variant: #e7e6e6;
$onSurface: #000000;
$onVariant: #757575;
$onVariantLight: #aaaaaa;

$bookmark: #395185;

$onPrimaryVariantDarkHover: #c54213;

$borderLight: #f4f4f4;
$borderNormal: #dbdada;

$hrNormal: #aaaaaa;
$hrLight: #dbdbdb;

$onBrandText: #fa6400;
$onBrandDarkText: #dd4d18;

$onBackground: #000000;

$facebook: #395185;
$linkin: #0077b5;
$twitter: #5b68c0;

$onFooterInfor: #313131;
