$onLogo-xl: 2.85rem;
$onLogo-lg: 2.75rem;
$onLogo-md: 2.5rem;
$onLogo-sm: 2.25rem;

$onSearchbarIcon-xl: 1.05rem;
$onSearchbarIcon-lg: 1rem;
$onSearchbarIcon-md: 0.95rem;
$onSearchbarIcon-sm: 1.15rem;

$onSearchbarText-xl: 0.85rem;
$onSearchbarText-lg: 0.75rem;
$onSearchbarText-md: 0.7rem;
$onSearchbarText-sm: 0.75rem;

$onNavItemPageText: 0.95rem;
$onNavItemPageIcon-xl: 0.95rem;
$onNavItemPageIcon-lg: 1.25rem;
$onNavItemPageIcon-md: 1.15rem;
$onNavItemPageIcon-sm: 1.25rem;

$onNavItemActionText-xl: 1rem;
$onNavItemActionText-lg: 0.95rem;
$onNavItemActionText-md: 0.95rem;

$onNavItemActionIcon-xl: 1.15rem;
$onNavItemActionIcon-lg: 1.15rem;
$onNavItemActionIcon-md: 1.15rem;
$onNavItemActionIcon-sm: 1.25rem;

$onCategoryPanelTitle-xl: 1.15rem;
$onCategoryPanelTitle-lg: 1.05rem;
$onCategoryPanelTitle-md: 1rem;
$onCategoryPanelTitle-sm: 1rem;

$onCategoryItemThumbnail-w-xl: 6.5rem;
$onCategoryItemThumbnail-h-xl: 5.5rem;

$onCategoryItemThumbnail-w-lg: 6rem;
$onCategoryItemThumbnail-h-lg: 5rem;

$onCategoryItemThumbnail-w-md: 5.5rem;
$onCategoryItemThumbnail-h-md: 4.5rem;

$onCategoryItemThumbnail-w-sm: 5.5rem;
$onCategoryItemThumbnail-h-sm: 4.5rem;

$onCategoryItemTitle-xl: 0.8rem;
$onCategoryItemTitle-lg: 0.8rem;
$onCategoryItemTitle-md: 0.8rem;
$onCategoryItemTitle-sm: 0.785rem;

$onSeeMoreBtnTitle-xl: 1.05rem;
$onSeeMoreBtnTitle-lg: 1rem;
$onSeeMoreBtnTitle-md: 0.95rem;
$onSeeMoreBtnTitle-sm: 0.95rem;

$onProductPanelTitle-xl: 1.15rem;
$onProductPanelTitle-lg: 1.05rem;
$onProductPanelTitle-md: 1rem;
$onProductPanelTitle-sm: 1rem;

$onProductItemThumbnail-h-xl: 11.5rem;
$onProductItemThumbnail-h-lg: 10.5rem;
$onProductItemThumbnail-h-md: 9.5rem;
$onProductItemThumbnail-h-sm: 8rem;

$onProductItemName-xl: 1.025rem;
$onProductItemName-lg: 1rem;
$onProductItemName-md: 0.97rem;
$onProductItemName-md: 0.9rem;

$onProductItemPrice-xl: 1rem;
$onProductItemPrice-lg: 0.95rem;
$onProductItemPrice-md: 0.9rem;
$onProductItemPrice-sm: 0.8rem;

$onProductItemBookmark-xl: 1.4rem;
$onProductItemBookmark-lg: 1.3rem;
$onProductItemBookmark-md: 1.2rem;
$onProductItemBookmark-sm: 1rem;

$onProductItemLocation-xl: 0.85rem;
$onProductItemLocation-lg: 0.8rem;
$onProductItemLocation-md: 0.75rem;
$onProductItemLocation-sm: 0.7rem;

$onProductItemDuration-xl: 0.8rem;
$onProductItemDuration-lg: 0.75rem;
$onProductItemDuration-md: 0.7rem;
$onProductItemDuration-sm: 0.65rem;

$onFooterContactLabel-xl: 1.25rem;
$onFooterContactLabel-lg: 1.2rem;
$onFooterContactLabel-md: 1.15rem;
$onFooterContactLabel-sm: 1.1rem;

$onFooterContactHotlineIcon-xl: 1.65rem;
$onFooterContactHotlineIcon-lg: 1.6rem;
$onFooterContactHotlineIcon-md: 1.55rem;
$onFooterContactHotlineIcon-sm: 1.5rem;

$onFooterContactHotlineNumber-xl: 1.35rem;
$onFooterContactHotlineNumber-lg: 1.3rem;
$onFooterContactHotlineNumber-md: 1.25rem;
$onFooterContactHotlineNumber-sm: 1.2rem;

$onFooterContactSocial-xl: 2.25rem;
$onFooterContactSocial-lg: 2.2rem;
$onFooterContactSocial-md: 2.15rem;
$onFooterContactSocial-sm: 2.1rem;

$onFooterNavItem-xl: 1rem;
$onFooterNavItem-lg: 1rem;
$onFooterNavItem-md: 1.1rem;
$onFooterNavItem-sm: 1.05rem;

$onFooterCertificate-w-xl: 10.5rem;
$onFooterCertificate-w-lg: 10rem;
$onFooterCertificate-w-md: 9.5rem;
$onFooterCertificate-w-sm: 9.5rem;

$onFooterInforLabel-xl: 1.15rem;
$onFooterInforLabel-lg: 1.05rem;
$onFooterInforLabel-md: 1.05rem;
$onFooterInforLabel-sm: 1.05rem;

$onFooterInfor-xl: 0.95rem;
$onFooterInfor-lg: 0.95rem;
$onFooterInfor-md: 0.9rem;
$onFooterInfor-sm: 0.9rem;

$onPostFormSessionTitle-xl: 1.15rem;
$onPostFormSessionTitle-lg: 1.05rem;
$onPostFormSessionTitle-md: 1rem;
$onPostFormSessionTitle-sm: 1rem;

$onPostFormFieldLabel-xl: 1rem;
$onPostFormFieldLabel-lg: 1rem;
$onPostFormFieldLabel-md: 0.95rem;
$onPostFormFieldLabel-sm: 0.95rem;

$onPostFormFieldInputText-xl: 1rem;
$onPostFormFieldInputText-lg: 1rem;
$onPostFormFieldInputText-md: 1rem;
$onPostFormFieldInputText-sm: 1rem;

$onPostFormActionBtnTitle-xl: 1.05rem;
$onPostFormActionBtnTitle-lg: 1.05rem;
$onPostFormActionBtnTitle-md: 1rem;
$onPostFormActionBtnTitle-sm: 0.95rem;

$onPostFormNote-xl: 0.95rem;
$onPostFormNote-lg: 0.95rem;
$onPostFormNote-md: 0.9rem;
$onPostFormNote-sm: 0.9rem;

$onEditFormSessionTitle-lg: 1.05rem;
$onEditFormSessionTitle-xl: 1.15rem;
$onEditFormSessionTitle-md: 1rem;
$onEditFormSessionTitle-sm: 1rem;

$onEditFormFieldLabel-xl: 1rem;
$onEditFormFieldLabel-lg: 1rem;
$onEditFormFieldLabel-md: 0.95rem;
$onEditFormFieldLabel-sm: 0.95rem;

$onEditFormFieldInputText-xl: 1rem;
$onEditFormFieldInputText-lg: 1rem;
$onEditFormFieldInputText-md: 1rem;
$onEditFormFieldInputText-sm: 1rem;

$onEditFormActionBtnTitle-xl: 1.05rem;
$onEditFormActionBtnTitle-lg: 1.05rem;
$onEditFormActionBtnTitle-md: 1rem;
$onEditFormActionBtnTitle-sm: 0.95rem;

$onEditFormNote-xl: 0.95rem;
$onEditFormNote-lg: 0.95rem;
$onEditFormNote-md: 0.9rem;
$onEditFormNote-sm: 0.9rem;

$onDashboardTitle-xl: 1.15rem;
$onDashboardTitle-lg: 1.05rem;
$onDashboardTitle-md: 1rem;
$onDashboardTitle-sm: 1rem;

$onDashboardHeader-xl: 1.05rem;
$onDashboardHeader-lg: 1rem;
$onDashboardHeader-md: 0.95rem;
$onDashboardHeader-sm: 0.9rem;

$onDashboardData-xl: 1rem;
$onDashboardData-lg: 0.95rem;
$onDashboardData-md: 0.9rem;
$onDashboardData-sm: 0.85rem;

$onDashboardActionIcon-xl: 1.25rem;
$onDashboardActionIcon-lg: 1.15rem;
$onDashboardActionIcon-md: 1.05rem;
$onDashboardActionIcon-sm: 1rem;

$onDialogTitle-xl: 1.2rem;
$onDialogTitle-lg: 1.15rem;
$onDialogTitle-md: 1.1rem;
$onDialogTitle-sm: 1rem;

$onDialogBody-xl: 1.05rem;
$onDialogBody-lg: 1rem;
$onDialogBody-md: 1rem;
$onDialogBody-sm: 0.95rem;

$onDialogAction-xl: 1rem;
$onDialogAction-lg: 1rem;
$onDialogAction-md: 0.95rem;
$onDialogAction-sm: 0.9rem;

$onEmptyList-xl: 1.15rem;
$onEmptyList-lg: 1.1rem;
$onEmptyList-md: 1.05rem;
$onEmptyList-sm: 1rem;

$onPanelTitle-xl: 1.15rem;
$onPanelTitle-lg: 1.05rem;
$onPanelTitle-md: 1rem;
$onPanelTitle-sm: 1rem;

$onDetailProductBookmark-xl: 1.85rem;
$onDetailProductBookmark-lg: 1.75rem;
$onDetailProductBookmark-md: 1.5rem;
$onDetailProductBookmark-sm: 1.25rem;

$onDetailProductName-xl: 1.25rem;
$onDetailProductName-lg: 1.2rem;
$onDetailProductName-md: 1.15rem;
$onDetailProductName-sm: 1.1rem;

$onDetailProductCategory-xl: 1.05rem;
$onDetailProductCategory-lg: 1rem;
$onDetailProductCategory-md: 0.95rem;
$onDetailProductCategory-sm: 0.95em;

$onDetailProductDateDuration-xl: 1rem;
$onDetailProductDateDuration-lg: 0.95rem;
$onDetailProductDateDuration-md: 0.9rem;
$onDetailProductDateDuration-sm: 0.85rem;

$onDetailProductPrice-xl: 1.5rem;
$onDetailProductPrice-lg: 1.45rem;
$onDetailProductPrice-md: 1.4rem;
$onDetailProductPrice-sm: 1.35rem;

$onDetailProductUserAvatar-xl: 2.85rem;
$onDetailProductUserAvatar-lg: 2.75rem;
$onDetailProductUserAvatar-md: 2.5rem;
$onDetailProductUserAvatar-sm: 1.25rem;

$onDetailProductUserName-xl: 1.05rem;
$onDetailProductUserName-lg: 1rem;
$onDetailProductUserName-md: 1rem;
$onDetailProductUserName-sm: 1rem;

$onDetailProductUserPostedRate-xl: 0.95rem;
$onDetailProductUserPostedRate-lg: 0.95rem;
$onDetailProductUserPostedRate-md: 0.9rem;
$onDetailProductUserPostedRate-sm: 0.85rem;

$onDetailProductActions-xl: 1.15rem;
$onDetailProductActions-lg: 1rem;
$onDetailProductActions-md: 1.05rem;
$onDetailProductActions-sm: 1rem;

$onDetailProductDetailTitle-xl: 1.05rem;
$onDetailProductDetailTitle-lg: 1rem;
$onDetailProductDetailTitle-md: 1rem;
$onDetailProductDetailTitle-sm: 1rem;

$onDetailProductDetailContent-xl: 1rem;
$onDetailProductDetailContent-lg: 1rem;
$onDetailProductDetailContent-md: 1rem;
$onDetailProductDetailContent-sm: 1rem;

$onDetailProductDescription-xl: 1rem;
$onDetailProductDescription-lg: 1rem;
$onDetailProductDescription-md: 1rem;
$onDetailProductDescription-sm: 1rem;

$onSliderImage-xl: 300px;
$onSliderImage-lg: 250px;
$onSliderImage-md: 250px;
$onSliderImage-sm: 225px;

$onSliderSmallImage-xl: 45px;
$onSliderSmallImage-lg: 40px;
$onSliderSmallImage-md: 35px;
$onSliderSmallImage-sm: 30px;
