$onLogo-Large: 2.85rem;
$onLogo-Medium: 2.5rem;
$onLogo-Small: 2.25rem;
$onLogo-ExSmall: 2rem;

$onSearchbarIcon-Large: 1.05rem;
$onSearchbarIcon-Medium: 1rem;
$onSearchbarIcon-Small: 0.95rem;
$onSearchbarIcon-ExSmall: 1.05rem;

$onSearchbarText-Large: 0.85rem;
$onSearchbarText-Medium: 0.75rem;
$onSearchbarText-Small: 0.7rem;
$onSearchbarText-ExSmall: 0.65rem;

$onNavItemPageText: 0.95rem;
$onNavItemPageIcon-Large: 0.95rem;
$onNavItemPageIcon-Medium: 1.25rem;
$onNavItemPageIcon-Small: 1.15rem;
$onNavItemPageIcon-ExSmall: 1.15rem;

$onNavItemActionText-Large: 1rem;
$onNavItemActionText-Medium: 0.95rem;
$onNavItemActionText-Small: 0.95rem;

$onNavItemActionIcon-Large: 1.15rem;
$onNavItemActionIcon-Medium: 1rem;
$onNavItemActionIcon-Small: 1rem;
