$onLogo-xl: 2.85rem;
$onLogo-lg: 2.75rem;
$onLogo-md: 2.5rem;
$onLogo-sm: 2.25rem;

$onSearchbarIcon-xl: 1.05rem;
$onSearchbarIcon-lg: 1rem;
$onSearchbarIcon-md: 0.95rem;
$onSearchbarIcon-sm: 1.15rem;

$onSearchbarText-xl: 0.85rem;
$onSearchbarText-lg: 0.75rem;
$onSearchbarText-md: 0.7rem;
$onSearchbarText-sm: 0.75rem;

$onNavItemPageText: 0.95rem;
$onNavItemPageIcon-xl: 0.95rem;
$onNavItemPageIcon-lg: 1.25rem;
$onNavItemPageIcon-md: 1.15rem;
$onNavItemPageIcon-sm: 1.25rem;

$onNavItemActionText-xl: 1rem;
$onNavItemActionText-lg: 0.95rem;
$onNavItemActionText-md: 0.95rem;

$onNavItemActionIcon-xl: 1.15rem;
$onNavItemActionIcon-lg: 1.15rem;
$onNavItemActionIcon-md: 1.15rem;
$onNavItemActionIcon-sm: 1.25rem;

$onCategoryPanelTitle-xl: 1.15rem;
$onCategoryPanelTitle-lg: 1rem;
$onCategoryPanelTitle-md: 0.9rem;
$onCategoryPanelTitle-sm: 0.9rem;

$onCategoryItemThumbnail-w-xl: 7rem;
$onCategoryItemThumbnail-h-xl: 5.45rem;

$onCategoryItemThumbnail-w-lg: 5.75rem;
$onCategoryItemThumbnail-h-lg: 4.75rem;

$onCategoryItemThumbnail-w-md: 4.75rem;
$onCategoryItemThumbnail-h-md: 3.75rem;

$onCategoryItemThumbnail-w-sm: 4.85rem;
$onCategoryItemThumbnail-h-sm: 3.85rem;

$onCategoryItemTitle-xl: 0.8rem;
$onCategoryItemTitle-lg: 0.8rem;
$onCategoryItemTitle-md: 0.8rem;
$onCategoryItemTitle-sm: 0.75rem;

$onSeeMoreBtnTitle-xl: 1rem;
$onSeeMoreBtnTitle-lg: 0.95rem;
$onSeeMoreBtnTitle-md: 0.9rem;
$onSeeMoreBtnTitle-sm: 0.9rem;

$onProductPanelTitle-xl: 1.15rem;
$onProductPanelTitle-lg: 1rem;
$onProductPanelTitle-md: 0.9rem;
$onProductPanelTitle-sm: 0.9rem;
