@mixin set-text($font-family, $font-size, $color) {
  color: $color;
  font-family: $font-family;
  font-size: $font-size;
}

@mixin reset-border-outline {
  border: none;
  outline: none;
}

@mixin reset-button {
  @include reset-border-outline();
  @include display-flex(center, center);
  background-color: transparent;
}

@mixin reset-input {
  @include reset-border-outline();
}

@mixin display-flex($justify-content, $align-items) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin position-sticky() {
  position: -webkit-sticky; /* Safari */
  position: sticky;
}

@mixin text-max-line($numline) {
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $numline; /* number of lines to show */
  -webkit-box-orient: vertical;
}

@mixin hr($width, $color, $style: solid) {
  border: none;
  border-top: $width $style $color;
  height: 0;
}
