@import "../../styles/standard";

.checkout {
  width: 100%;
  height: 100%;
  min-height: 25rem;
  background-color: $background;
  padding: 0.85rem 0 1rem;

  .checkout__container {
    width: $w-xl;
    height: 100%;
    margin: auto;

    .checkout__form {
      width: 100%;
      height: 100%;
    }
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl) {
  .checkout {
    padding: 0.8rem 0 0.9rem;
    min-height: 22.5rem;

    .checkout__container {
      width: $w-lg;
    }
  }
}

@media only screen and (min-width: $md) and (max-width: $lg) {
  .checkout {
    padding: 0.75rem 0 0.85rem;
    min-height: 20rem;

    .checkout__container {
      width: $w-md;
    }
  }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
  .checkout {
    padding: 0.55rem 0 0.75rem;
    min-height: 17.5rem;

    .checkout__container {
      width: $w-sm;
    }
  }
}
