@import "../styles/standard";

.category__panel {
  background-color: $surface;
  border-radius: 0.65rem;
  padding: 0.5rem 0 0.75rem 0;

  .category__panel__container {
    .category__panel__title {
      @include set-text(
        $fontSerifMedium,
        $onCategoryPanelTitle-Large,
        $onSurface
      );
      margin-left: 1rem;
      margin-bottom: 0;
    }

    .hr {
      height: 1px;
      margin: 0.65rem 0;
      color: $hrNormal;
    }

    .category__list__container {
      display: flex;
      align-items: stretch;
      justify-content: space-evenly;

      .category__list__item {
        flex: 1;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .category__panel {
    .category__panel__container {
      .category__panel__title {
        font-size: $onCategoryPanelTitle-Medium;
      }
    }
  }
}

@media only screen and (max-width: 962px) {
  .category__panel {
    .category__panel__container {
      .category__panel__title {
        font-size: $onCategoryPanelTitle-Small;
      }
    }
  }
}

@media only screen and (max-width: 601px) {
  .category__panel {
    .category__panel__container {
      .category__panel__title {
        font-size: $onCategoryPanelTitle-ExSmall;
      }

      .category__list__container {
        flex-wrap: wrap;

        .category__list__item {
          flex-basis: 33.33%;

          &:nth-child(n + 4) {
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}
