@import "../styles/standard";

.category__item {
  background-color: transparent;
  @include display-flex(center, stretch);

  .category__item__container {
    width: calc(#{$onCategoryItemThumbnail-W-Large} + 0.3rem * 2);
    background-color: $surface;
    padding: 0.3rem;
    border: 1px solid $borderNormal;
    border-radius: 0.65rem;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1.5px 5px rgba(0, 0, 0, 0.05);
    }

    .category__item__link {
      color: $onSurface !important;
      @include display-flex("", center);
      flex-direction: column;
      height: 100%;
      text-decoration: none;
      text-align: center;

      .category__item__thumbnail {
        width: $onCategoryItemThumbnail-W-Large;
        height: $onCategoryItemThumbnail-H-Large;
        border: 1px solid $borderLight;
        border-radius: 0.5rem;
      }

      .category__item__title__container {
        flex: 1;
        margin-top: 0.25rem;
        @include display-flex(center, center);

        .category__item__title {
          @include set-text(
            $fontSansSerifRegular,
            $onCategoryItemTitle-Large,
            ""
          );
          margin-bottom: 0;
          @include text-max-line(2);
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .category__item {
    .category__item__container {
      width: calc(#{$onCategoryItemThumbnail-W-Medium} + 0.25rem * 2);
      padding: 0.25rem;
      border-radius: 0.5rem;

      .category__item__link {
        .category__item__thumbnail {
          width: $onCategoryItemThumbnail-W-Medium;
          height: $onCategoryItemThumbnail-H-Medium;
          border-radius: 0.45rem;
        }

        .category__item__title__container {
          .category__item__title {
            @include set-text(
              $fontSansSerifRegular,
              $onCategoryItemTitle-Medium,
              ""
            );
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .category__item {
    .category__item__container {
      width: calc(#{$onCategoryItemThumbnail-W-Small} + 0.2rem * 2);
      padding: 0.2rem;
      border-radius: 0.45rem;

      .category__item__link {
        .category__item__thumbnail {
          width: $onCategoryItemThumbnail-W-Small;
          height: $onCategoryItemThumbnail-H-Small;
          border-radius: 0.4rem;
        }

        .category__item__title__container {
          .category__item__title {
            @include set-text(
              $fontSansSerifRegular,
              $onCategoryItemTitle-Small,
              ""
            );
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 601px) {
  .category__item {
    .category__item__container {
      width: 75%;
      padding: 0.15rem;
      border-radius: 0.35rem;

      .category__item__link {
        .category__item__thumbnail {
          width: 100%;
          height: $onCategoryItemThumbnail-H-ExSmall;
          border-radius: 0.35rem;
        }

        .category__item__title__container {
          .category__item__title {
            @include set-text(
              $fontSansSerifRegular,
              $onCategoryItemTitle-ExSmall,
              ""
            );
          }
        }
      }
    }
  }
}
