@import "../styles/standard";

.navbar {
  width: 100%;
  background-color: $primary;
  padding: 0.35rem 0;

  .navbar__container {
    @include display-flex(center, center);
    width: 80%;
    margin: auto;

    .nav__logo__container {
      @include display-flex(center, center);

      .nav__logo {
        width: $onLogo-Large;
        height: $onLogo-Large;
      }
    }

    .navbar__nav__container {
      flex: 1;
      @include display-flex(space-between, center);

      .nav__searchbar__container {
        flex: 1;
        display: flex;
        align-self: flex-end;

        .nav__searchbar {
          margin: 0 1rem 0 1.5rem;
          transition: all 0.5s ease-in;
        }
      }

      .nav__container {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .nav__page {
          list-style-type: none;
          display: flex;

          .nav__item:not(:last-child) {
            margin-right: 1.25rem;
          }
        }

        .nav__action {
          margin-top: 0.2rem;
          list-style-type: none;
          display: flex;

          .nav__item:not(:last-child) {
            margin-right: 1.25rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .navbar {
    .navbar__container {
      width: 85%;

      .nav__logo__container {
        .nav__logo {
          width: $onLogo-Medium;
          height: $onLogo-Medium;
        }
      }

      .navbar__nav__container {
        .nav__searchbar__container {
          align-self: center;

          .nav__searchbar {
            margin: 0 1.5rem 0 1rem;
          }
        }

        .nav__container {
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          .nav__page {
            .nav__item:not(:last-child) {
              margin-right: 0.85rem;
            }
          }

          .nav__action {
            margin-left: 1rem;
            margin-top: 0;

            .nav__item:not(:last-child) {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 962px) {
  .navbar {
    .navbar__container {
      width: 90%;

      .nav__logo__container {
        .nav__logo {
          width: $onLogo-Small;
          height: $onLogo-Small;
        }
      }

      .navbar__nav__container {
        .nav__searchbar__container {
          align-self: center;

          .nav__searchbar {
            margin: 0 1.25rem 0 0.85rem;
          }
        }

        .nav__container {
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          .nav__page {
            .nav__item:first-child {
              display: none;
            }

            .nav__item:not(:last-child) {
              margin-right: 0.75rem;
            }
          }

          .nav__action {
            margin-left: 1.5rem;
            margin-top: 0;

            .nav__item:not(:last-child) {
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 601px) {
  .navbar {
    .navbar__container {
      width: 85%;

      .nav__logo__container {
        .nav__logo {
          width: $onLogo-ExSmall;
          height: $onLogo-ExSmall;
        }
      }

      .navbar__nav__container {
        .nav__searchbar__container {
          align-self: center;
          justify-content: flex-end;

          .nav__searchbar {
            margin: 0 1.5rem;
          }
        }

        .nav__container {
          flex: 0;
          flex-direction: row;
          justify-content: flex-end;
          align-items: center;

          .nav__page {
            .nav__item:not(:last-child) {
              display: none;
            }
          }

          .nav__action {
            display: none;
          }
        }
      }
    }
  }
}
