@import "../styles/standard";

.searchbar {
  width: 80%;
  background-color: $surface;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;

  &.searchbar__active {
    width: 100%;
  }

  .searchbar__container {
    padding: 0.15rem;
    display: flex;

    .searchbar__input {
      @include reset-input;
      @include set-text($fontSerifRegular, $onSearchbarText-Large, null);
      padding: 0.1rem 0.5rem;
      flex: 1;
    }

    .searchbar__delete {
      @include reset-button();
      padding: 0.1rem 0.3rem;
      margin: 0 0.25rem;

      .searchbar__delete__icon {
        color: $onVariant;
        font-size: $onSearchbarIcon-Large;
      }
    }

    .searchbar__input:placeholder-shown ~ .searchbar__delete {
      display: none;
    }

    .searchbar__input:not(:placeholder-shown) ~ .searchbar__delete {
      display: flex;
    }

    .searchbar__search {
      @include reset-button();
      background-color: $primaryVariantDark;
      padding: 0.1rem 0.3rem;
      border-radius: 0.4rem;

      .searchbar__search__icon {
        color: $onPrimary;
        font-size: $onSearchbarIcon-Large;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .searchbar {
    width: 70%;
    .searchbar__container {
      .searchbar__input {
        @include set-text($fontSerifRegular, $onSearchbarText-Medium, null);
      }

      .searchbar__delete {
        .searchbar__delete__icon {
          font-size: $onSearchbarIcon-Medium;
        }
      }

      .searchbar__search {
        .searchbar__search__icon {
          font-size: $onSearchbarIcon-Medium;
        }
      }
    }
  }
}

@media only screen and (max-width: 962px) {
  .searchbar {
    width: 100%;
    .searchbar__container {
      .searchbar__input {
        @include set-text($fontSerifRegular, $onSearchbarText-Small, null);
      }

      .searchbar__delete {
        .searchbar__delete__icon {
          font-size: $onSearchbarIcon-Small;
        }
      }

      .searchbar__search {
        .searchbar__search__icon {
          font-size: $onSearchbarIcon-Small;
        }
      }
    }
  }
}

@media only screen and (max-width: 601px) {
  .searchbar {
    width: auto;

    &.searchbar__active {
      width: 100%;
    }

    .searchbar__container {
      .searchbar__input {
        // display: none;
        transition: all 0.75s ease-in-out;
        opacity: 0;
        flex: 0;
        padding: 0;
        width: 0;
        @include set-text($fontSerifRegular, $onSearchbarText-ExSmall, null);

        &.searchbar__input__active {
          opacity: 1;
          width: auto;
          flex: 1;
          display: flex;
          padding: 0.1rem 0.5rem;
        }
      }

      .searchbar__delete {
        .searchbar__delete__icon {
          font-size: $onSearchbarIcon-ExSmall;
        }
      }

      .searchbar__search {
        .searchbar__search__icon {
          font-size: $onSearchbarIcon-ExSmall;
        }
      }
    }
  }
}
