@import "../../styles/standard";

.category__item {
  background-color: transparent;
  @include display-flex(center, stretch);

  .category__item__container {
    width: calc(#{$onCategoryItemThumbnail-w-xl} + 0.3rem * 2);
    background-color: $surface;
    padding: 0.3rem;
    border: 1px solid $borderNormal;
    border-radius: 0.65rem;

    &:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1.5px 5px rgba(0, 0, 0, 0.05);
    }

    .category__item__link {
      color: $onSurface !important;
      @include display-flex("", center);
      flex-direction: column;
      height: 100%;
      text-decoration: none;
      text-align: center;

      .category__item__thumbnail {
        width: $onCategoryItemThumbnail-w-xl;
        height: $onCategoryItemThumbnail-h-xl;
        border: 1px solid $borderLight;
        border-radius: 0.5rem;
      }

      .category__item__title__container {
        flex: 1;
        margin-top: 0.35rem;
        // @include display-flex(center, center);

        .category__item__title {
          @include set-text($fontSansSerifRegular, $onCategoryItemTitle-xl, "");
          margin-bottom: 0;
          @include text-max-line(2);
        }
      }
    }
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl) {
  .category__item {
    .category__item__container {
      width: calc(#{$onCategoryItemThumbnail-w-lg} + 0.25rem * 2);
      padding: 0.25rem;
      border-radius: 0.5rem;

      .category__item__link {
        .category__item__thumbnail {
          width: $onCategoryItemThumbnail-w-lg;
          height: $onCategoryItemThumbnail-h-lg;
          border-radius: 0.45rem;
        }

        .category__item__title__container {
          .category__item__title {
            @include set-text(
              $fontSansSerifRegular,
              $onCategoryItemTitle-lg,
              ""
            );
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $md) and (max-width: $lg) {
  .category__item {
    .category__item__container {
      width: calc(#{$onCategoryItemThumbnail-w-md} + 0.2rem * 2);
      padding: 0.2rem;
      border-radius: 0.45rem;

      .category__item__link {
        .category__item__thumbnail {
          width: $onCategoryItemThumbnail-w-md;
          height: $onCategoryItemThumbnail-h-md;
          border-radius: 0.4rem;
        }

        .category__item__title__container {
          .category__item__title {
            @include set-text(
              $fontSansSerifRegular,
              $onCategoryItemTitle-md,
              ""
            );
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
  .category__item {
    .category__item__container {
      width: calc(#{$onCategoryItemThumbnail-w-sm} + 0.2rem * 2);
      padding: 0.2rem;
      border-radius: 0.35rem;

      .category__item__link {
        .category__item__thumbnail {
          width: $onCategoryItemThumbnail-w-sm;
          height: $onCategoryItemThumbnail-h-sm;
          border-radius: 0.3rem;
        }

        .category__item__title__container {
          .category__item__title {
            @include set-text(
              $fontSansSerifRegular,
              $onCategoryItemTitle-sm,
              ""
            );
          }
        }
      }
    }
  }
}
