@import "../../styles/standard";

.upload__image {
  .upload__image__container {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 0.5rem;

    .upload__form {
      width: 100%;
      height: 100%;
      @include display-flex(center, center);
      border-radius: inherit;
      background-color: $variant;

      .upload__image__field {
        display: none;
      }

      .upload__image__icon__placeholder {
        font-size: 2.5rem;
        color: $onVariant;
      }
    }

    .upload__display {
      position: relative;
      border-radius: inherit;
      width: 100%;
      height: 100%;

      &:hover {
        .img__preview__hover {
          background-color: rgba(0, 0, 0, 0.6);
          opacity: 1;
        }
      }

      .img__preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }

      .img__preview__hover {
        transition: 0.5s ease;
        opacity: 0;
        width: 100%;
        border-radius: inherit;
        height: 100%;
        @include display-flex(center, center);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .upload__image__icon__remove {
          font-size: 3.5rem;
          color: rgba(255, 255, 255, 0.45);
        }
      }
    }
  }
}
