@import "./styles/standard";

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .app__container {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    .app__navbar {
      @include position-sticky();
      top: 0;
      z-index: 999;
    }

    .app__body {
      flex: 1;
    }
  }
}
