@import "../../styles/standard";

.category__panel {
  width: 100%;

  .category__list__container {
    @include display-flex(center, initial);

    .category__list__overflow {
      overflow-x: auto;
      padding-bottom: 0.5rem;
      @include display-flex(initial, initial);

      &::-webkit-scrollbar {
        height: 0.35rem;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        border-radius: 1rem;
        background-color: $variant;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: $onVariantLight;
        border-radius: 5px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: $onVariant;
      }

      .category__list__item {
        &:not(:last-child) {
          margin-right: 2.25rem;
        }
      }
    }
  }
}

@media only screen and (min-width: $lg) and (max-width: $xl) {
  .category__panel {
    .category__list__container {
      .category__list__overflow {
        padding-bottom: 0.5rem;

        .category__list__item {
          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $md) and (max-width: $lg) {
  .category__panel {
    .category__list__container {
      .category__list__overflow {
        padding-bottom: 0.45rem;

        &::-webkit-scrollbar {
          height: 0.3rem;
        }

        .category__list__item {
          &:not(:last-child) {
            margin-right: 1.85rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $sm) and (max-width: $md) {
  .category__panel {
    .category__list__container {
      .category__list__overflow {
        padding-bottom: 0.45rem;

        &::-webkit-scrollbar {
          height: 0.25rem;
        }

        .category__list__item {
          &:not(:last-child) {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
}
